body {
  margin: 0;
}
.nav-bar {
  padding: 0px;
  height: 40px;
  background-color: yellowgreen;
}
.pet {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}
.pet-image > img {
  width: 200px;
  height: 200px;
}
.pet-info {
}
